anthropic
Django
djangorestframework
djangorestframework-simplejwt
meta_ai_api
nltk
openai
protobuf
python-dotenv
Requests
rest_framework_simplejwt
torch
transformers
django-cors-headers
mysqlclient
gunicorn
google-generativeai
cohere